@media screen and (max-width: 768px) {
  .insta-stories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
  }
  .story-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .story-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .user-name {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    color: #262626;
  }

  .posts-conatiner {
    list-style-type: none;
    padding-left: 0px;
  }

  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 36px;
  }

  .post-failure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 600px;
  }

  .failure-img {
    width: 24px;
    height: 24px;
  }
  .failure-msg {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #262626;
  }

  .try-again-btn {
    width: 102px;
    height: 32px;
    border-radius: 8px;
    cursor: pinter;
    border: none;
    color: #ffffff;
    outline: none;
    background-color: #4094ef;
  }

  .post-loader-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader {
    height: 24px;
  }
  .stories-loader-container {
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .loader {
    height: 36px;
  }
  .post-loader-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stories-loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .insta-stories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    max-width: 1040px;
  }
  .story-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .story-img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-left: 10px;
  }

  .user-name {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #262626;
  }
  .posts-conatiner {
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 36px;
  }

  .post-failure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1040px;
    height: 866px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
  }

  .failure-img {
    width: 44px;
    height: 38px;
  }
  .failure-msg {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #262626;
  }

  .try-again-btn {
    width: 102px;
    height: 32px;
    border-radius: 8px;
    cursor: pinter;
    border: none;
    color: #ffffff;
    outline: none;
    background-color: #4094ef;
  }
}
