/* Write your CSS here */

* {
  margin: 0px;
}
body {
  box-sizing: border-box;
}
.moneyManager-container {
  height: 100vh;
  padding: 60px;
}
.card-conatiner {
  background: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  background-position: center;
  padding: 40px;
  border: none;
  border-radius: 16px;
}

.card-para {
  font-size: 18px;
  font-family: 'Roboto';
  margin-top: 20px;
}

.card-span {
  color: #0b69ff;
  font-weight: 600;
}

.card-head {
  font-size: 42px;
  color: #1e293b;
}

.moneyDetails-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.input-container > input {
  height: 100%;
  width: 100%;
  border: 1px soild #1e293b;
  border-radius: 8px;
  outline: none;
}
.input-container > label {
  font-size: 18px;
  font-family: 'Roboto';
}

.input-container > select {
  height: 40px;
  width: 300px;
  border: 1px soild #1e293b;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}
.btn {
  height: 36px;
  width: 98px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #0b69ff;
}
.form {
  padding: 40px;
  border: 1px solid #cbd5e1;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

::placeholder {
  font-size: 16px;
  font-family: 'Roboto';
  padding-left: 10px;
}

.form-container {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin-top: 60px;
}

.table-names {
  display: flex;
  padding: 20px;
  width: 100%;
}

.table-names > p {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  max-width: 300px;
  min-width: 200px;
}

.history-container {
  width: 100%;
  padding: 40px;
  border: 1px solid #cbd5e1;
  border-radius: 16px;
}

.history-head {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-bottom: 20px;
}
.table-container {
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding-left: 0;
}
