.visited-itmes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  max-height: 300px;
  background-color: #1f1f2f;
}

.text-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

img {
  width: 280px;
}

.remove-btn {
  background-color: transparent;
  color: #fff;
  border: 1.5px solid #ffff;
  cursor: pointer;
  height: 20px;
  width: 60px;
}

@media screen and (max-width: 768px) {
  .visited-itmes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    max-height: 200px;
    background-color: #1f1f2f;
  }

  .text-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  img {
    width: 200px;
  }

  .remove-btn {
    background-color: transparent;
    color: #fff;
    border: 1.5px solid #ffff;
    cursor: pointer;
    height: 20px;
    width: 60px;
  }
}
