
.popular-radio-head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-radio-head {
    font-size: 24px;
    color: #fff;
    font-family: Sans-serif;;
}

.radio-showall-link {
    font-size: 14px;
    color: #5e5a5ae4;
    font-weight: 600;
    font-family: Sans-serif;
}

.radio-link-to-show-section {
    text-decoration: none;
    font-size: 14px;
    color: #5e5a5ae4;
    font-weight: 600;
    font-family: Sans-serif;
}

.radio-link-to-show-section:hover {
    text-decoration: underline;
    color: #fff;
}

.radio-img {
    height: 140px;
    width: 140px;
    border-radius: 8px;
    background-color: transparent;
}

.radio-name {
    font-size: 16px;
    font-family: Sans-serif;
    color: #fff;
    font-weight: 600;
}

.radio {
    font-size: 14px;
    font-weight: 600;
    color: #716f6ff2;
    font-family: Sans-serif;
}

.radio-card-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-height: 240px;
    min-height: 220px;
    gap:8px;
    padding: 10px;
    transition: .3s ease-out;
}

.popular-radio-list-container {
    list-style-type: none;
    display: flex;
    align-items: start;
    gap:20px;
    padding-left: 20px;
    max-width: 75vw;
    overflow: hidden;
}

.radio-link {
    text-decoration: none;
}


.popular-radio-failure-view-container {
    max-height: 180px;
    display: grid;
    place-items: center;
    gap: 10px;

}

.radio-notfound-img {
    height: 140px;
}

.radio-notfound-head {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff8e;
}

.popular-radio-loading-view {
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-radio-img {
    height: 48px;
    border-radius: 48px;
}

.play-radio-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    bottom: 60px;
    left: 80px;
    display: none;
  
}

.radio-card-container:hover {
    background-color: #2d2727e4;
    border-radius: 8px;
    .play-radio-btn {
        display: block;
    }
}

.play-radio-btn-container {
    max-height: 140px;
}