
.show-allalbum-container {
    max-height: 100vh;
    width: 75vw;
    background-color: black;
}

.show-allalbum-head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.show-allalbum-head {
    font-size: 24px;
    color: #fff;
    font-family: Sans-serif;
}


.show-allalbum-img {
    height: 140px;
    width: 140px;
    border-radius: 8px;
    background-color: transparent;
}

.show-allalbum-name {
    font-size: 16px;
    font-family: Sans-serif;
    color: #fff;
    font-weight: 600;
}

.show-allalbum {
    font-size: 14px;
    font-weight: 600;
    color: #716f6ff2;
    font-family: Sans-serif;
}

.show-allalbum-card-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:8px;
    min-height: 220px;
    max-height: 240px;
    max-width: 140px;
    padding: 10px;
    transition: .3s ease-out;
}

.show-allalbum-list-container {
    display: flex;
    align-items: start;
    gap:20px;
    padding-left: 20px;
    max-width: 75vw;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
}


.show-allalbum-failure-view-container {
    min-height: 180px;
    display: grid;
    place-items: center;
    gap: 10px;
}

.show-allalbum-notfound-img {
    height: 140px;
}

.show-allalbum-notfound-head {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff8e;
}

.show-allalbum-loading-view {
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.show-allalbum-songs {
    max-height: 81vh;
    min-height: 82vh;
    overflow: auto;
}

.show-allalbum-songs::-webkit-scrollbar {
    width: 12px;
    height: 4px;
}

.show-allalbum-songs::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.show-allalbum-songs::-webkit-scrollbar-thumb {
    background: #c4c2c2a5;
    border-radius: 10px;
    
}

.show-allalbum-songs::-webkit-scrollbar-thumb:hover {
    background: #555;
    opacity: 0.1;
}

.show-allalbum-songs::-webkit-scrollbar-corner {
    background: #7e7e7e;
}


.play-show-allalbum-img {
    height: 48px;
    border-radius: 48px;
}

.play-show-allalbum-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    bottom: 60px;
    left: 80px;
   display: none;
}

.show-allalbum-card-container:hover {
    background-color: #2d2727e4;
    border-radius: 8px;
    .play-show-allalbum-btn {
        display: block;
    }
}

.play-show-allalbum-btn-container {
    max-height: 140px;
} 